
body{
    font-family:Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;
    font-weight: bold;
    color: lightcoral;
}
h2{
    font-size: x-large;
    color: lightcoral;
    font-weight: bold;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(31, 216, 216);
    padding:20px;

}
nav h1{
    color: rgb(189, 10, 221);
    font-size:larger;
    margin:0;
    font-weight: bold;
    font-size: large;
}
nav ul{
    list-style:none;
display: flex;
    gap:20px;
    padding:0;
    margin:0;

}
nav ul li a{
    color:rgb(7, 93, 240);
    font-weight:bold;
    font-size: large;
    
}
nav a:hover{
    background-color: #fff;
    padding:15px;
}
footer{
    padding:15px;
    background-color: aqua;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: large;

}
footer a:hover{
    color: black;
    background-color: #f0f0f0;
    padding: 10px;
}

.on {
    display: flex
    ;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
    background-color: #f0f0f0; 
  }
  
  /* Style each container for a card-like appearance */
  .container {
    flex: 1 1 200px; 
    background-color:gray; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align : center;
  }
  

.ola{
    padding:15px 15px;
    background-color: antiquewhite;
    align-items:center;
    display: block;
    background-color:yellow;
    text-align: center;
    border-radius: 8pxS;
    margin: 25px 25px;;
    

}
.bt{
    font-weight: 300;
    font-size: larger;
    background-color: aqua;
    color: wheat;
    
}
.bt:hover{
    background-color:greenyellow ;
    padding: 15px;
}
.form{
    background-color: antiquewhite;
    text-decoration: dotted;
    color: blue;
    padding:50px
}
.form li{
    justify-content: space-between;
    gap: 20px;

    font-size: large;
}

